@charset "UTF-8";
/* color palette from <https://github.com/vuejs/theme> */
html.dark {
  /* --gd-bg-container: rgba(0, 0, 0, 0.3); */
}

:root {
  /* --gd-bg-container: rgba(0, 0, 0, 0.3); */
  /* Tailwind Colors */
  --gd-black: rgb(0 0 0);
  --gd-white: rgb(255 255 255);
  --gd-slate-50: rgb(248 250 252);
  --gd-slate-100: rgb(241 245 249);
  --gd-slate-200: rgb(226 232 240);
  --gd-slate-300: rgb(203 213 225);
  --gd-slate-400: rgb(148 163 184);
  --gd-slate-500: rgb(100 116 139);
  --gd-slate-600: rgb(71 85 105);
  --gd-slate-700: rgb(51 65 85);
  --gd-slate-800: rgb(30 41 59);
  --gd-slate-900: rgb(15 23 42);
  --gd-slate-950: rgb(2 6 23);
  --gd-gray-50: rgb(249 250 251);
  --gd-gray-100: rgb(243 244 246);
  --gd-gray-200: rgb(229 231 235);
  --gd-gray-300: rgb(209 213 219);
  --gd-gray-400: rgb(156 163 175);
  --gd-gray-500: rgb(107 114 128);
  --gd-gray-600: rgb(75 85 99);
  --gd-gray-700: rgb(55 65 81);
  --gd-gray-800: rgb(31 41 55);
  --gd-gray-900: rgb(17 24 39);
  --gd-gray-950: rgb(3 7 18);
  --gd-zinc-50: rgb(250 250 250);
  --gd-zinc-100: rgb(244 244 245);
  --gd-zinc-200: rgb(228 228 231);
  --gd-zinc-300: rgb(212 212 216);
  --gd-zinc-400: rgb(161 161 170);
  --gd-zinc-500: rgb(113 113 122);
  --gd-zinc-600: rgb(82 82 91);
  --gd-zinc-700: rgb(63 63 70);
  --gd-zinc-800: rgb(39 39 42);
  --gd-zinc-900: rgb(24 24 27);
  --gd-zinc-950: rgb(9 9 11);
  --gd-neutral-50: rgb(250 250 250);
  --gd-neutral-100: rgb(245 245 245);
  --gd-neutral-200: rgb(229 229 229);
  --gd-neutral-300: rgb(212 212 212);
  --gd-neutral-400: rgb(163 163 163);
  --gd-neutral-500: rgb(115 115 115);
  --gd-neutral-600: rgb(82 82 82);
  --gd-neutral-700: rgb(64 64 64);
  --gd-neutral-800: rgb(38 38 38);
  --gd-neutral-900: rgb(23 23 23);
  --gd-neutral-950: rgb(10 10 10);
  --gd-stone-50: rgb(250 250 249);
  --gd-stone-100: rgb(245 245 244);
  --gd-stone-200: rgb(231 229 228);
  --gd-stone-300: rgb(214 211 209);
  --gd-stone-400: rgb(168 162 158);
  --gd-stone-500: rgb(120 113 108);
  --gd-stone-600: rgb(87 83 78);
  --gd-stone-700: rgb(68 64 60);
  --gd-stone-800: rgb(41 37 36);
  --gd-stone-900: rgb(28 25 23);
  --gd-stone-950: rgb(12 10 9);
  --gd-red-50: rgb(254 242 242);
  --gd-red-100: rgb(254 226 226);
  --gd-red-200: rgb(254 202 202);
  --gd-red-300: rgb(252 165 165);
  --gd-red-400: rgb(248 113 113);
  --gd-red-500: rgb(239 68 68);
  --gd-red-600: rgb(220 38 38);
  --gd-red-700: rgb(185 28 28);
  --gd-red-800: rgb(153 27 27);
  --gd-red-900: rgb(127 29 29);
  --gd-red-950: rgb(69 10 10);
  --gd-orange-50: rgb(255 247 237);
  --gd-orange-100: rgb(255 237 213);
  --gd-orange-200: rgb(254 215 170);
  --gd-orange-300: rgb(253 186 116);
  --gd-orange-400: rgb(251 146 60);
  --gd-orange-500: rgb(249 115 22);
  --gd-orange-600: rgb(234 88 12);
  --gd-orange-700: rgb(194 65 12);
  --gd-orange-800: rgb(154 52 18);
  --gd-orange-900: rgb(124 45 18);
  --gd-orange-950: rgb(67 20 7);
  --gd-amber-50: rgb(255 251 235);
  --gd-amber-100: rgb(254 243 199);
  --gd-amber-200: rgb(253 230 138);
  --gd-amber-300: rgb(252 211 77);
  --gd-amber-400: rgb(251 191 36);
  --gd-amber-500: rgb(245 158 11);
  --gd-amber-600: rgb(217 119 6);
  --gd-amber-700: rgb(180 83 9);
  --gd-amber-800: rgb(146 64 14);
  --gd-amber-900: rgb(120 53 15);
  --gd-amber-950: rgb(69 26 3);
  --gd-yellow-50: rgb(254 252 232);
  --gd-yellow-100: rgb(254 249 195);
  --gd-yellow-200: rgb(254 240 138);
  --gd-yellow-300: rgb(253 224 71);
  --gd-yellow-400: rgb(250 204 21);
  --gd-yellow-500: rgb(234 179 8);
  --gd-yellow-600: rgb(202 138 4);
  --gd-yellow-700: rgb(161 98 7);
  --gd-yellow-800: rgb(133 77 14);
  --gd-yellow-900: rgb(113 63 18);
  --gd-yellow-950: rgb(66 32 6);
  --gd-lime-50: rgb(247 254 231);
  --gd-lime-100: rgb(236 252 203);
  --gd-lime-200: rgb(217 249 157);
  --gd-lime-300: rgb(190 242 100);
  --gd-lime-400: rgb(163 230 53);
  --gd-lime-500: rgb(132 204 22);
  --gd-lime-600: rgb(101 163 13);
  --gd-lime-700: rgb(77 124 15);
  --gd-lime-800: rgb(63 98 18);
  --gd-lime-900: rgb(54 83 20);
  --gd-lime-950: rgb(26 46 5);
  --gd-green-50: rgb(240 253 244);
  --gd-green-100: rgb(220 252 231);
  --gd-green-200: rgb(187 247 208);
  --gd-green-300: rgb(134 239 172);
  --gd-green-400: rgb(74 222 128);
  --gd-green-500: rgb(34 197 94);
  --gd-green-600: rgb(22 163 74);
  --gd-green-700: rgb(21 128 61);
  --gd-green-800: rgb(22 101 52);
  --gd-green-900: rgb(20 83 45);
  --gd-green-950: rgb(5 46 22);
  --gd-emerald-50: rgb(236 253 245);
  --gd-emerald-100: rgb(209 250 229);
  --gd-emerald-200: rgb(167 243 208);
  --gd-emerald-300: rgb(110 231 183);
  --gd-emerald-400: rgb(52 211 153);
  --gd-emerald-500: rgb(16 185 129);
  --gd-emerald-600: rgb(5 150 105);
  --gd-emerald-700: rgb(4 120 87);
  --gd-emerald-800: rgb(6 95 70);
  --gd-emerald-900: rgb(6 78 59);
  --gd-emerald-950: rgb(2 44 34);
  --gd-teal-50: rgb(240 253 250);
  --gd-teal-100: rgb(204 251 241);
  --gd-teal-200: rgb(153 246 228);
  --gd-teal-300: rgb(94 234 212);
  --gd-teal-400: rgb(45 212 191);
  --gd-teal-500: rgb(20 184 166);
  --gd-teal-600: rgb(13 148 136);
  --gd-teal-700: rgb(15 118 110);
  --gd-teal-800: rgb(17 94 89);
  --gd-teal-900: rgb(19 78 74);
  --gd-teal-950: rgb(4 47 46);
  --gd-cyan-50: rgb(236 254 255);
  --gd-cyan-100: rgb(207 250 254);
  --gd-cyan-200: rgb(165 243 252);
  --gd-cyan-300: rgb(103 232 249);
  --gd-cyan-400: rgb(34 211 238);
  --gd-cyan-500: rgb(6 182 212);
  --gd-cyan-600: rgb(8 145 178);
  --gd-cyan-700: rgb(14 116 144);
  --gd-cyan-800: rgb(21 94 117);
  --gd-cyan-900: rgb(22 78 99);
  --gd-cyan-950: rgb(8 51 68);
  --gd-sky-50: rgb(240 249 255);
  --gd-sky-100: rgb(224 242 254);
  --gd-sky-200: rgb(186 230 253);
  --gd-sky-300: rgb(125 211 252);
  --gd-sky-400: rgb(56 189 248);
  --gd-sky-500: rgb(14 165 233);
  --gd-sky-600: rgb(2 132 199);
  --gd-sky-700: rgb(3 105 161);
  --gd-sky-800: rgb(7 89 133);
  --gd-sky-900: rgb(12 74 110);
  --gd-sky-950: rgb(8 47 73);
  --gd-blue-50: rgb(239 246 255);
  --gd-blue-100: rgb(219 234 254);
  --gd-blue-200: rgb(191 219 254);
  --gd-blue-300: rgb(147 197 253);
  --gd-blue-400: rgb(96 165 250);
  --gd-blue-500: rgb(59 130 246);
  --gd-blue-600: rgb(37 99 235);
  --gd-blue-700: rgb(29 78 216);
  --gd-blue-800: rgb(30 64 175);
  --gd-blue-900: rgb(30 58 138);
  --gd-blue-950: rgb(23 37 84);
  --gd-indigo-50: rgb(238 242 255);
  --gd-indigo-100: rgb(224 231 255);
  --gd-indigo-200: rgb(199 210 254);
  --gd-indigo-300: rgb(165 180 252);
  --gd-indigo-400: rgb(129 140 248);
  --gd-indigo-500: rgb(99 102 241);
  --gd-indigo-600: rgb(79 70 229);
  --gd-indigo-700: rgb(67 56 202);
  --gd-indigo-800: rgb(55 48 163);
  --gd-indigo-900: rgb(49 46 129);
  --gd-indigo-950: rgb(30 27 75);
  --gd-violet-50: rgb(245 243 255);
  --gd-violet-100: rgb(237 233 254);
  --gd-violet-200: rgb(221 214 254);
  --gd-violet-300: rgb(196 181 253);
  --gd-violet-400: rgb(167 139 250);
  --gd-violet-500: rgb(139 92 246);
  --gd-violet-600: rgb(124 58 237);
  --gd-violet-700: rgb(109 40 217);
  --gd-violet-800: rgb(91 33 182);
  --gd-violet-900: rgb(76 29 149);
  --gd-violet-950: rgb(46 16 101);
  --gd-purple-50: rgb(250 245 255);
  --gd-purple-100: rgb(243 232 255);
  --gd-purple-200: rgb(233 213 255);
  --gd-purple-300: rgb(216 180 254);
  --gd-purple-400: rgb(192 132 252);
  --gd-purple-500: rgb(168 85 247);
  --gd-purple-600: rgb(147 51 234);
  --gd-purple-700: rgb(126 34 206);
  --gd-purple-800: rgb(107 33 168);
  --gd-purple-900: rgb(88 28 135);
  --gd-purple-950: rgb(59 7 100);
  --gd-fuchsia-50: rgb(253 244 255);
  --gd-fuchsia-100: rgb(250 232 255);
  --gd-fuchsia-200: rgb(245 208 254);
  --gd-fuchsia-300: rgb(240 171 252);
  --gd-fuchsia-400: rgb(232 121 249);
  --gd-fuchsia-500: rgb(217 70 239);
  --gd-fuchsia-600: rgb(192 38 211);
  --gd-fuchsia-700: rgb(162 28 175);
  --gd-fuchsia-800: rgb(134 25 143);
  --gd-fuchsia-900: rgb(112 26 117);
  --gd-fuchsia-950: rgb(74 4 78);
  --gd-pink-50: rgb(253 242 248);
  --gd-pink-100: rgb(252 231 243);
  --gd-pink-200: rgb(251 207 232);
  --gd-pink-300: rgb(249 168 212);
  --gd-pink-400: rgb(244 114 182);
  --gd-pink-500: rgb(236 72 153);
  --gd-pink-600: rgb(219 39 119);
  --gd-pink-700: rgb(190 24 93);
  --gd-pink-800: rgb(157 23 77);
  --gd-pink-900: rgb(131 24 67);
  --gd-pink-950: rgb(80 7 36);
  --gd-rose-50: rgb(255 241 242);
  --gd-rose-100: rgb(255 228 230);
  --gd-rose-200: rgb(254 205 211);
  --gd-rose-300: rgb(253 164 175);
  --gd-rose-400: rgb(251 113 133);
  --gd-rose-500: rgb(244 63 94);
  --gd-rose-600: rgb(225 29 72);
  --gd-rose-700: rgb(190 18 60);
  --gd-rose-800: rgb(159 18 57);
  --gd-rose-900: rgb(136 19 55);
  --gd-rose-950: rgb(76 5 25);
}

/* Primary */
.gooddialog-container.gd-theme-primary,
html.dark .gooddialog-container.gd-theme-primary.light,
.gooddialog-notification.gd-theme-primary,
html.dark .gooddialog-notification.gd-theme-primary.light {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-color: var(--gd-slate-700);
  --gd-border: var(--gd-slate-500);
  --gd-text-color-btn: var(--gd-slate-900);
  --gd-bg-alert: var(--gd-slate-200);
  --gd-bg-confirm-button: var(--gd-green-500);
  --gd-bg-cancel-button: var(--gd-orange-500);
  --gd-color-title: var(--gd-color);
  --gd-color-subtitle: var(--gd-color);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
  --gd-color-notify-before: var(--gd-slate-400);
  /* Notifications */
}
.gooddialog-container.gd-theme-primary.gooddialog-success,
html.dark .gooddialog-container.gd-theme-primary.light.gooddialog-success,
.gooddialog-notification.gd-theme-primary.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-primary.light.gooddialog-success {
  --gd-bg-alert: var(--gd-green-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-green-400);
}
.gooddialog-container.gd-theme-primary.gooddialog-error,
html.dark .gooddialog-container.gd-theme-primary.light.gooddialog-error,
.gooddialog-notification.gd-theme-primary.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-primary.light.gooddialog-error {
  --gd-bg-alert: var(--gd-red-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-red-400);
}
.gooddialog-container.gd-theme-primary.gooddialog-info,
html.dark .gooddialog-container.gd-theme-primary.light.gooddialog-info,
.gooddialog-notification.gd-theme-primary.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-primary.light.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-sky-400);
}
.gooddialog-container.gd-theme-primary.gooddialog-warning,
html.dark .gooddialog-container.gd-theme-primary.light.gooddialog-warning,
.gooddialog-notification.gd-theme-primary.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-primary.light.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-400);
  --gd-color: var(--gd-yellow-900);
  --gd-color-notify-before: var(--gd-yellow-200);
}

/* Primary Dark */
html.dark .gooddialog-container.gd-theme-primary,
.gooddialog-container.gd-theme-primary.dark,
html.dark .gooddialog-notification.gd-theme-primary,
.gooddialog-notification.gd-theme-primary.dark {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-color: var(--gd-slate-200);
  --gd-bg-alert: var(--gd-slate-700);
  --gd-text-color-btn: var(--gd-slate-200);
  --gd-bg-confirm-button: var(--gd-green-700);
  --gd-bg-cancel-button: var(--gd-orange-700);
  --gd-border: var(--gd-sky-800);
  --gd-color-title: var(--gd-slate-100);
  --gd-color-subtitle: var(--gd-slate-300);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
}
html.dark .gooddialog-container.gd-theme-primary.gooddialog-success,
.gooddialog-container.gd-theme-primary.dark.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-primary.gooddialog-success,
.gooddialog-notification.gd-theme-primary.dark.gooddialog-success {
  --gd-bg-alert: var(--gd-green-600);
  --gd-color: var(--gd-green-50);
  --gd-color-notify-before: var(--gd-green-400);
}
html.dark .gooddialog-container.gd-theme-primary.gooddialog-error,
.gooddialog-container.gd-theme-primary.dark.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-primary.gooddialog-error,
.gooddialog-notification.gd-theme-primary.dark.gooddialog-error {
  --gd-bg-alert: var(--gd-orange-600);
  --gd-color: var(--gd-orange-50);
  --gd-color-notify-before: var(--gd-orange-400);
}
html.dark .gooddialog-container.gd-theme-primary.gooddialog-info,
.gooddialog-container.gd-theme-primary.dark.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-primary.gooddialog-info,
.gooddialog-notification.gd-theme-primary.dark.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-600);
  --gd-color: var(--gd-sky-50);
  --gd-color-notify-before: var(--gd-sky-400);
}
html.dark .gooddialog-container.gd-theme-primary.gooddialog-warning,
.gooddialog-container.gd-theme-primary.dark.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-primary.gooddialog-warning,
.gooddialog-notification.gd-theme-primary.dark.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-600);
  --gd-color: var(--gd-yellow-50);
  --gd-color-notify-before: var(--gd-yellow-400);
}

/* theme blue */
.gooddialog-container.gd-theme-blue,
html.dark .gooddialog-container.gd-theme-blue.light,
.gooddialog-notification.gd-theme-blue,
html.dark .gooddialog-notification.gd-theme-blue.light {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-bg-alert: var(--gd-blue-600);
  --gd-color: var(--gd-slate-50);
  --gd-text-color-btn: var(--gd-slate-100);
  --gd-bg-confirm-button: var(--gd-green-600);
  --gd-bg-cancel-button: var(--gd-orange-600);
  --gd-border: var(--gd-blue-500);
  --gd-color-title: var(--gd-color);
  --gd-color-subtitle: var(--gd-color);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
  --gd-color-notify-before: var(--gd-blue-400);
  /* Notifications */
}
.gooddialog-container.gd-theme-blue.gooddialog-success,
html.dark .gooddialog-container.gd-theme-blue.light.gooddialog-success,
.gooddialog-notification.gd-theme-blue.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-blue.light.gooddialog-success {
  --gd-bg-alert: var(--gd-green-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-green-400);
}
.gooddialog-container.gd-theme-blue.gooddialog-error,
html.dark .gooddialog-container.gd-theme-blue.light.gooddialog-error,
.gooddialog-notification.gd-theme-blue.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-blue.light.gooddialog-error {
  --gd-bg-alert: var(--gd-red-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-red-400);
}
.gooddialog-container.gd-theme-blue.gooddialog-info,
html.dark .gooddialog-container.gd-theme-blue.light.gooddialog-info,
.gooddialog-notification.gd-theme-blue.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-blue.light.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-sky-400);
}
.gooddialog-container.gd-theme-blue.gooddialog-warning,
html.dark .gooddialog-container.gd-theme-blue.light.gooddialog-warning,
.gooddialog-notification.gd-theme-blue.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-blue.light.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-400);
  --gd-color: var(--gd-yellow-900);
  --gd-color-notify-before: var(--gd-yellow-200);
}

/* Theme Blue Dark */
html.dark .gooddialog-container.gd-theme-blue,
.gooddialog-container.gd-theme-blue.dark,
html.dark .gooddialog-notification.gd-theme-blue,
.gooddialog-notification.gd-theme-blue.dark {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-bg-alert: var(--gd-blue-700);
  --gd-color: var(--gd-slate-200);
  --gd-text-color-btn: var(--gd-slate-100);
  --gd-bg-confirm-button: var(--gd-green-700);
  --gd-bg-cancel-button: var(--gd-orange-700);
  --gd-border: var(--gd-blue-600);
  --gd-color-title: var(--gd-color);
  --gd-color-subtitle: var(--gd-color);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
  /* Notifications */
}
html.dark .gooddialog-container.gd-theme-blue.gooddialog-success,
.gooddialog-container.gd-theme-blue.dark.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-blue.gooddialog-success,
.gooddialog-notification.gd-theme-blue.dark.gooddialog-success {
  --gd-bg-alert: var(--gd-green-600);
  --gd-color: var(--gd-green-50);
  --gd-color-notify-before: var(--gd-green-400);
}
html.dark .gooddialog-container.gd-theme-blue.gooddialog-error,
.gooddialog-container.gd-theme-blue.dark.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-blue.gooddialog-error,
.gooddialog-notification.gd-theme-blue.dark.gooddialog-error {
  --gd-bg-alert: var(--gd-orange-600);
  --gd-color: var(--gd-orange-50);
  --gd-color-notify-before: var(--gd-orange-400);
}
html.dark .gooddialog-container.gd-theme-blue.gooddialog-info,
.gooddialog-container.gd-theme-blue.dark.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-blue.gooddialog-info,
.gooddialog-notification.gd-theme-blue.dark.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-600);
  --gd-color: var(--gd-sky-50);
  --gd-color-notify-before: var(--gd-sky-400);
}
html.dark .gooddialog-container.gd-theme-blue.gooddialog-warning,
.gooddialog-container.gd-theme-blue.dark.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-blue.gooddialog-warning,
.gooddialog-notification.gd-theme-blue.dark.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-600);
  --gd-color: var(--gd-yellow-50);
  --gd-color-notify-before: var(--gd-yellow-400);
}

/* Theme indigo */
.gooddialog-container.gd-theme-indigo,
html.dark .gooddialog-container.gd-theme-indigo.light,
.gooddialog-notification.gd-theme-indigo,
html.dark .gooddialog-notification.gd-theme-indigo.light {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-bg-alert: var(--gd-indigo-50);
  --gd-border: var(--gd-indigo-400);
  --gd-color: var(--gd-slate-700);
  --gd-text-color-btn: var(--gd-slate-100);
  --gd-bg-confirm-button: var(--gd-green-600);
  --gd-bg-cancel-button: var(--gd-orange-600);
  --gd-color-title: var(--gd-blue-600);
  --gd-color-subtitle: var(--gd-color);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
  --gd-color-notify-before: var(--gd-indigo-400);
  /* Notifications */
}
.gooddialog-container.gd-theme-indigo .gooddialog-alert,
html.dark .gooddialog-container.gd-theme-indigo.light .gooddialog-alert,
.gooddialog-notification.gd-theme-indigo .gooddialog-alert,
html.dark .gooddialog-notification.gd-theme-indigo.light .gooddialog-alert {
  box-shadow: var(--gd-indigo-800) 4px 4px 8px;
  --gd-shadow: var(--gd-indigo-800) 4px 4px 8px;
}
.gooddialog-container.gd-theme-indigo.gooddialog-success,
html.dark .gooddialog-container.gd-theme-indigo.light.gooddialog-success,
.gooddialog-notification.gd-theme-indigo.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-indigo.light.gooddialog-success {
  --gd-bg-alert: var(--gd-green-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-green-400);
}
.gooddialog-container.gd-theme-indigo.gooddialog-error,
html.dark .gooddialog-container.gd-theme-indigo.light.gooddialog-error,
.gooddialog-notification.gd-theme-indigo.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-indigo.light.gooddialog-error {
  --gd-bg-alert: var(--gd-red-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-red-400);
}
.gooddialog-container.gd-theme-indigo.gooddialog-info,
html.dark .gooddialog-container.gd-theme-indigo.light.gooddialog-info,
.gooddialog-notification.gd-theme-indigo.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-indigo.light.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-500);
  --gd-color: var(--gd-white);
  --gd-color-notify-before: var(--gd-sky-400);
}
.gooddialog-container.gd-theme-indigo.gooddialog-warning,
html.dark .gooddialog-container.gd-theme-indigo.light.gooddialog-warning,
.gooddialog-notification.gd-theme-indigo.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-indigo.light.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-400);
  --gd-color: var(--gd-yellow-900);
  --gd-color-notify-before: var(--gd-yellow-200);
}

/* Theme Indigo Dark */
html.dark .gooddialog-container.gd-theme-indigo,
.gooddialog-container.gd-theme-indigo.dark,
html.dark .gooddialog-notification.gd-theme-indigo,
.gooddialog-notification.gd-theme-indigo.dark {
  --gd-bg-container: rgba(0, 0, 0, 0.3);
  --gd-bg-alert: var(--gd-indigo-700);
  --gd-border: var(--gd-blue-800);
  --gd-color: var(--gd-slate-200);
  --gd-text-color-btn: var(--gd-slate-100);
  --gd-bg-confirm-button: var(--gd-green-700);
  --gd-bg-cancel-button: var(--gd-orange-700);
  --gd-color-title: var(--gd-color);
  --gd-color-subtitle: var(--gd-color);
  --gd-color-message: var(--gd-color);
  --gd-color-svg-info: var(--gd-sky-400);
  --gd-color-svg-ok: var(--gd-green-500);
  --gd-color-svg-cancel: var(--gd-orange-600);
  /* Notifications */
}
html.dark .gooddialog-container.gd-theme-indigo .gooddialog-alert,
.gooddialog-container.gd-theme-indigo.dark .gooddialog-alert,
html.dark .gooddialog-notification.gd-theme-indigo .gooddialog-alert,
.gooddialog-notification.gd-theme-indigo.dark .gooddialog-alert {
  box-shadow: var(--gd-indigo-900) 4px 4px 8px;
}
html.dark .gooddialog-container.gd-theme-indigo.gooddialog-success,
.gooddialog-container.gd-theme-indigo.dark.gooddialog-success,
html.dark .gooddialog-notification.gd-theme-indigo.gooddialog-success,
.gooddialog-notification.gd-theme-indigo.dark.gooddialog-success {
  --gd-bg-alert: var(--gd-green-600);
  --gd-color: var(--gd-green-50);
  --gd-color-notify-before: var(--gd-green-400);
}
html.dark .gooddialog-container.gd-theme-indigo.gooddialog-error,
.gooddialog-container.gd-theme-indigo.dark.gooddialog-error,
html.dark .gooddialog-notification.gd-theme-indigo.gooddialog-error,
.gooddialog-notification.gd-theme-indigo.dark.gooddialog-error {
  --gd-bg-alert: var(--gd-orange-600);
  --gd-color: var(--gd-orange-50);
  --gd-color-notify-before: var(--gd-orange-400);
}
html.dark .gooddialog-container.gd-theme-indigo.gooddialog-info,
.gooddialog-container.gd-theme-indigo.dark.gooddialog-info,
html.dark .gooddialog-notification.gd-theme-indigo.gooddialog-info,
.gooddialog-notification.gd-theme-indigo.dark.gooddialog-info {
  --gd-bg-alert: var(--gd-sky-600);
  --gd-color: var(--gd-sky-50);
  --gd-color-notify-before: var(--gd-sky-400);
}
html.dark .gooddialog-container.gd-theme-indigo.gooddialog-warning,
.gooddialog-container.gd-theme-indigo.dark.gooddialog-warning,
html.dark .gooddialog-notification.gd-theme-indigo.gooddialog-warning,
.gooddialog-notification.gd-theme-indigo.dark.gooddialog-warning {
  --gd-bg-alert: var(--gd-yellow-600);
  --gd-color: var(--gd-yellow-50);
  --gd-color-notify-before: var(--gd-yellow-400);
}

.gooddialog-container p,
.gooddialog-container h1,
.gooddialog-container h2,
.gooddialog-container h3,
.gooddialog-container h4,
.gooddialog-container h5 {
  margin-top: 4px;
  margin-bottom: 4px;
  /* Puedes ajustar los valores según lo que necesites */
}

.gooddialog-container button {
  border: none;
}

.gooddialog-container {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--gd-bg-container);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  /* transition: background-color 300ms linear; */
}

.gooddialog-container button::before,
.gooddialog-container button::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

/* .dark .gooddialog-container {
    color: rgb(197, 197, 197);
} */
.gooddialog-alert {
  width: fit-content;
  background-color: var(--gd-bg-alert);
  animation-name: aparecer;
  padding: 16px;
  min-width: 230px;
  color: var(--gd-color);
  border: solid var(--gd-border);
  border-radius: 8px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gooddialog-alert h2 {
  color: var(--gd-color-title);
}

.gooddialog-alert h3 {
  color: var(--gd-color-subtitle);
}

.gooddialog-alert p {
  color: var(--gd-color-message);
}

.gooddialog-alert section {
  display: grid;
  gap: 12px;
  margin-bottom: 12px;
}

.gooddialog-alert p {
  font-size: 16px;
}

.gooddialog-alert-title {
  text-align: center;
  font-size: 24px;
}

.gooddialog-alert-subtitle {
  text-align: center;
  font-size: 20px;
}

.gooddialog-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.gooddialog-footer-1-col {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
}

.gooddialog-confirm-button {
  border-radius: 4px;
  background-color: var(--gd-bg-confirm-button);
  color: var(--gd-text-color-btn);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.gooddialog-confirm-button:hover {
  opacity: 0.8;
}

.gooddialog-cancel-button:hover {
  opacity: 0.8;
}

.gooddialog-confirm-button:focus {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

.gooddialog-cancel-button:focus {
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}

.gooddialog-cancel-button {
  border-radius: 4px;
  background-color: var(--gd-bg-cancel-button);
  color: var(--gd-text-color-btn);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.gooddialog-button-event {
  outline: solid 1px rgba(148, 148, 148, 0);
}

.gooddialog-button-event:focus {
  transform: scale(1.08);
  outline: solid 1px rgba(148, 148, 148, 0.308);
  box-shadow: rgba(0, 0, 0, 0.425) 2px 2px 2px;
}

.gooddialog-alert-div-icon {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gooddialog-title-message {
  text-align: center;
}

.gooddialog-notification {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--gd-bg-alert);
  color: var(--gd-color);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: fit-content;
  padding: 8px;
  padding-left: 20px;
  z-index: 500;
  transition: transform 0.8s ease, opacity 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 4px 4px;
}

.gooddialog-notification::before,
.gooddialog-notification::after {
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

.gooddialog-notification::before {
  content: " ";
  width: 8px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--gd-color-notify-before);
}

.gooddialog-notification-container-top-left {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.gooddialog-notification-container-top-center {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.gooddialog-notification-container-top-right {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.gooddialog-notification-container-left {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.gooddialog-notification-container-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.gooddialog-notification-container-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: fit-content;
  height: fit-content;
  z-index: 500;
}

.goodalert-animation-bounce {
  animation-name: goodalert-animation-bounce;
  animation-duration: 300ms;
}

@keyframes goodalert-animation-bounce {}
.goodalert-animation-aparecer {
  animation-name: goodalert-animation-aparecer;
  animation-duration: 500ms; /* Duración de 1 segundo */
}

.goodalert-animation-desaparecer {
  animation-name: goodalert-animation-desaparecer;
  animation-duration: 700ms; /* Duración de 1 segundo */
}

@keyframes goodalert-animation-aparecer {
  0% {
    opacity: 0; /* Elemento invisible al inicio */
    transform: scale(0.2); /* Desplazamiento hacia arriba */
  }
  70% {
    opacity: 0.8; /* Elemento completamente visible al final */
    transform: scale(1.2); /* Sin desplazamiento */
  }
  100% {
    opacity: 1; /* Elemento completamente visible al final */
    transform: scale(1); /* Sin desplazamiento */
  }
}
@keyframes goodalert-animation-desaparecer {
  0% {
    opacity: 1; /* Elemento invisible al inicio */
    transform: scale(1); /* Desplazamiento hacia arriba */
  }
  30% {
    opacity: 0.4; /* Elemento completamente visible al final */
    transform: scale(1.2); /* Sin desplazamiento */
  }
  100% {
    opacity: 0; /* Elemento completamente visible al final */
    transform: scale(0); /* Sin desplazamiento */
  }
}
.gooddialog-container-fade-in {
  animation-name: gooddialog-container-fade-in;
  animation-duration: 500ms;
  /* animation-delay: 3000ms; */
}

.gooddialog-container-fade-out {
  animation-name: gooddialog-container-fade-out;
  animation-duration: 600ms;
}

@keyframes gooddialog-container-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@keyframes gooddialog-container-fade-out {
  0% {
    ackground-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
.gooddialog-svg-container path {
  animation-name: gooddialog-svg-info;
  animation-duration: 0.7s;
  fill: var(--gd-color-svg-info);
  transform-origin: center;
  /* stroke: blanchedalmond; */
}

@keyframes gooddialog-svg-info {
  0% {
    opacity: 0; /* Elemento invisible al inicio */
    transform: scale(0) rotateY(0deg); /* Desplazamiento hacia arriba */
    /* transform: rotateY(0deg); */
  }
  25% {
    opacity: 0.4; /* Elemento completamente visible al final */
    transform: scale(0.3) translateY(0px); /* Sin desplazamiento */
    /* transform: rotateY(90deg); */
  }
  70% {
    transform: translateY(-10px) rotateY(90deg);
  }
  100% {
    opacity: 1; /* Elemento completamente visible al final */
    transform: scale(1) rotateY(0deg) translateY(0px); /* Sin desplazamiento */
    /*  transform: rotateY(0deg); */
  }
}
.gooddialog-svg-container-ok path {
  animation-name: gooddialog-svg-ok;
  animation-duration: 0.7s;
  fill: var(--gd-color-svg-ok);
  transform-origin: center;
  overflow: visible;
  /* stroke: blanchedalmond; */
}

@keyframes gooddialog-svg-ok {
  0% {
    opacity: 0; /* Elemento invisible al inicio */
    transform: scale(0) rotateY(0deg); /* Desplazamiento hacia arriba */
    /* transform: rotateY(0deg); */
  }
  25% {
    opacity: 0.4; /* Elemento completamente visible al final */
    transform: scale(0.3) translateY(0px); /* Sin desplazamiento */
    /* transform: rotateY(90deg); */
  }
  70% {
    transform: translateY(-1px) rotateY(90deg);
  }
  100% {
    opacity: 1; /* Elemento completamente visible al final */
    transform: scale(1) rotateY(0deg) translateY(0px); /* Sin desplazamiento */
    /*  transform: rotateY(0deg); */
  }
}
.gooddialog-svg-container-cancel path {
  animation-name: gooddialog-svg-cancel;
  animation-duration: 0.7s;
  fill: var(--gd-color-svg-cancel);
  transform-origin: center;
  /* stroke: blanchedalmond; */
}

@keyframes gooddialog-svg-cancel {
  0% {
    opacity: 0; /* Elemento invisible al inicio */
    transform: scale(0) rotateY(0deg); /* Desplazamiento hacia arriba */
    /* transform: rotateY(0deg); */
  }
  25% {
    opacity: 0.4; /* Elemento completamente visible al final */
    transform: scale(0.3) translateY(0px); /* Sin desplazamiento */
    /* transform: rotateY(90deg); */
  }
  70% {
    transform: translateY(-1px) rotateY(90deg);
  }
  100% {
    opacity: 1; /* Elemento completamente visible al final */
    transform: scale(1) rotateY(0deg) translateY(0px); /* Sin desplazamiento */
    /*  transform: rotateY(0deg); */
  }
}

/*# sourceMappingURL=base.css.map */
